.env
.env.*
!.env.example
*.pem
*.key

/data/**
*.parquet
*.csv.gz

.venv/

__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/

.ipynb_checkpoints/
notebooks/*.ipynb

*.log
logs/

.DS_Store
.idea/
.vscode/
